{% if cart.item_count > 0  %}
    <!-- CART HAS ITEMS -->
    {% else %}
    <!-- CART IS EMPTY -->
    <div class="max-w-6xl h-60 my-4 flex items-center justify-center">
        <div class="text-center">
            <div class="text-3xl my-4">Your cart</div>
        </div>


    </div>
{% endif %}