{% paginate collection.products by 6 %}
  {% for product in collection.products %}
  {% else %}
    <p>There are no products inside of this collection.</p>
  {% endfor %}

  {% render 'paginate', pagination: paginate %}
{% endpaginate %}
