{% if cart.item_count > 0  %}
    <!-- CART HAS ITEMS -->
    {% else %}
    <!-- CART IS EMPTY -->
    <div class="max-w-6xl h-60 my-4 flex items-center justify-center">
    .text-center>h1.text-3xl.my-4{Your cart}
    </div>
{% endif %}