{% comment %} {% assign numProductsPerPage = block.settings.numnber_of_products_per_page %} {% endcomment %}
<div class="px-4 py-8">
  {{ collection.products | json }}
  {% paginate collection.products by 6 %}
    {{ paginate | json }}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}

        {% else %}
          <p>There are no products inside of this collection.</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products to display per page"
    }
  ]
}
{% endschema %}
